.about {
  padding-top: 200px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    position: relative;
    width: 500px;
    height: 500px;

    &::after {
      position: absolute;
      top: 0%;
      z-index: 1;
      content: url('../img/about/frame.png');
    }

    &::before {
      position: absolute;
      bottom: -7%;
      left: 8%;
      z-index: 2;
      content: url('../img/about/computer.png');
    }
  }

  &__info {
  }

  &__title {
    font-size: 48px;
    line-height: 140%;
  }

  &__text {
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
  }
}
