.education {
  padding-top: 120px;
  height: 1300px;

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    margin-top: 2em;
  }

  &__statistics {
    margin: 4em 0;
    opacity: 0.5;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }

  &__items {
    display: flex;
  }

  &__block-left {
  }

  &__item-left {
    margin-top: 20px;
    margin-right: 60px;
    width: 228px;
    text-align: right;
    position: relative;

    &::before {
      content: ' ';
      width: 40px;
      height: 2px;
      top: 50%;
      right: -28%;
      background-color: rgb(255, 255, 255);
      opacity: 0.3;
      position: absolute;
    }
  }

  &__item-left + &__item-left {
    margin-top: 95px;
  }

  &__item-right {
    margin-top: 95px;
    margin-left: 60px;
    width: 228px;
    position: relative;

    &::before {
      content: '';
      width: 40px;
      height: 2px;
      top: 50%;
      left: -28%;
      background-color: rgb(255, 255, 255);
      opacity: 0.3;
      position: absolute;
    }
  }

  &__item-left + &__item-left {
    margin-top: 95px;
  }

  &__week {
    opacity: 0.5;
    font-weight: 300;
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
    font-weight: 300;
  }

  &__bar-progress {
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    height: 677px;
    width: 6px;
  }
}
