.profession {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 200px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__inner {
    display: flex;
    margin-top: 70px;
  }

  &__card {
    margin: 0 60px;
  }
}
