.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 230px;

  &__inner {
  }

  &__title {
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 40px;

    &::before {
      margin-right: 40px;
      content: url('../img/start/icon.png');
    }
  }

  &__text {
    margin-right: 3em;
    font-weight: 300;
    line-height: 25px;
    opacity: 0.5;
  }

  &__items {
    display: flex;
    margin-top: 50px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
  }

  &__percent {
    font-weight: 600;
    font-size: 36px;
  }

  &__xxl-rectangle,
  &__lg-rectangle {
    width: 100%;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  }

  &__xl-rectangle,
  &__md-rectangle {
    width: 100%;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__xxl-rectangle {
    height: 20%;
  }

  &__xl-rectangle {
    height: 15%;
  }

  &__lg-rectangle {
    height: 10%;
  }

  &__md-rectangle {
    height: 5%;
  }
}
